@model List<ComicMarvelProject.Models.Character>
@{
    ViewData["Title"] = "Characters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="characterBody">
<div class="text-center" style="padding-bottom: 15px;">

@* Character Header *@

    <h1 class="characterHeader">Characters</h1>

@* Character Search *@

    <div class="container">
		<div class="text-center">
			<form method="get" asp-action="Characters">
			<div class="">
				<h3 class="searchTitle"> Seach for Character</h3>

				<input class="form-control form-control-sm w-50 mx-auto mt-4" name="characterName" placeholder="Character Name" value="" />
			</div>
			<div class="p-2">
				<button type="submit" class="charcterSearchBtn btn btn-primary btn-sm">Search</button>
			</div>
			</form>	
		</div>
	 </div>

</div>

@if (Model != null && Model.Count > 0)
{
	<div class="container">
		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
			@foreach (var character in Model)
			{
				<div class="col mb-4">
					<div class="card" style="width: 10rem;">
						<div class="card-img-wrapper">
							<img src="@($"{character.Thumbnail.Path}.{character.Thumbnail.Extension}")"
							 class="card-img-top" />
						</div>
						<div class="card-body">
							<h5 class="card-title" style="font-size: 15px;">@character.Name</h5>
							<p class="card-text" style="font-size: 12px;">
								@if(character.Description is null || character.Description == "")
								{
									<p>No description available.</p>
								}
								else {
									@character.Description
								}
								</p>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
}
else
{
	<p>No characters found.</p>
}
</div>

