@model ComicMarvelProject.Views.Home.HeroModel
@{
    ViewData["Title"] = "Hero";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="characterHeader">Characters</h1>

    <div class="container">
		<div class="text-center">
			<div class="">
				<h3 class="searchTitle"> Seach for Character</h3>
				<input class="form-control form-control-sm w-50 mx-auto mt-4" placeholder="Character Name" />
			</div>
			<div class="p-2">
				<button class="charcterSearchBtn btn btn-primary btn-sm">Search</button>
			</div>
		</div>


</div>

