@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using ComicMarvelProject.Models
@using ComicMarvelProject.Views
@model Comic
@{
    ViewData["Title"] = "Comics";
}
<div class="text-center">
	<h1 class="comicHeader">Comics</h1>
</div>

<div class="container">
    <div class="text-center">
        <div class="">
            <h3 class="searchTitle"> Seach for Comic</h3>
            <input class="form-control form-control-sm w-50 mx-auto mt-4" placeholder="Comic Title, Date or Character" />
        </div>
        <div class="p-2">
            <button class="comicSearchBtn btn btn-primary btn-sm">Search</button>
        </div>
    </div>
</div>

@* Comic Card *@

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <div class="col mb-4">
            <div class="card" style="width: 10rem;">
                <img src="/images/placeholder.jpg"
                     class="card-img-top"
                     style="max-height: 250px">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 15px;">Comic Name</h5>
                    <p class="card-text" style="font-size: 12px;">Comic Description</p>
                </div>
            </div>
        </div>
    </div>
</div>

   

@* <div class="comicContainer d-flex flex-column align-items-center">
    <h2 style="font-weight:bold;"> My Most Valuable Comic</h2>
    <img src="/images/xmen25.jpg" class="xmenComic">
    <h3 class="titleComic">X-men Issue #25 1993</h3>
    <h6 class="detailsComic">Graded: 9.8 | Signed: Andy Kupert</h6>
</div> *@


