@using ComicMarvelProject.Models
@using ComicMarvelProject.Views
@model List<Story>
@{
	ViewData["Title"] = "Stories";
}
<head>
	<link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Caveat:wght@400..700&family=Ga+Maamli&family=Londrina+Shadow&display=swap" rel="stylesheet">
</head>

<div class="text-center">
	<h1 class="storiesHeader">Stories</h1>
</div>

<div class="container search-container">
	<div class="text-center">
		<form method="get" asp-action="StoriesList">
			<div class="">
				<h3 class="searchTitle"> Seach for Story</h3>
				<input class="form-control form-control-sm w-50 mx-auto" name="storyTitle" placeholder="Story Title" value=""/>
			</div>
			<div class="p-2">
				<button class="SearchBtn btn  btn-sm">Search</button>
			</div>
		</form>
	</div>
</div>