@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Aiden's Comic Website</h1>
    <h2>Everything you need to know about Marvel Comics!</h2>

</div>
