html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: linear-gradient( rgba(0, 0, 0, 0.2), /* Adjust the color and opacity as needed */
    rgba(0, 0, 0, 0.2) ), url('/images/comic-background-1.jpg');
    background-size: 100%;
    image-rendering: optimizeQuality;
    background-position: 50% 50%;
}

.HomePageHeader {
    font-size: 50px;
    color: snow;
    font-weight: bold;
    text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.8), -3px -3px 3px rgba(0, 0, 0, 0.8), 3px -3px 3px rgba(0, 0, 0, 0.8), -3px 3px 3px rgba(0, 0, 0, 0.8);
}

.HomePageInfo {
    font-size: 30px;
    color: black;
    font-weight: bold;
    text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.8), /* White shadow */
    -3px -3px 2px rgba(255, 255, 255, 0.8), 3px -3px 2px rgba(255, 255, 255, 0.8), -3px 3px 2px rgba(255, 255, 255, 0.8);
}

.navbar {
    background-color: darkred;
    line-height: 25px;
}

.nav-link {
    font-family: 'Comic Sans MS';
}

.characterHeader{
    font-size: 70px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: snow;
    font-weight: bold;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8), -3px -3px 2px rgba(0, 0, 0, 0.8), 3px -3px 2px rgba(0, 0, 0, 0.8), -3px 3px 2px rgba(0, 0, 0, 0.8);
}

.comicHeader{
    font-size: 70px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: snow;
    font-weight: bold;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8), -3px -3px 2px rgba(0, 0, 0, 0.8), 3px -3px 2px rgba(0, 0, 0, 0.8), -3px 3px 2px rgba(0, 0, 0, 0.8);
}

.xmenComic{
     width: 100%; 
    max-width: 250px; 
    height: auto; 
}

.comicContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.titleComic{
    color: snow;
    font-weight: bold;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8), -3px -3px 2px rgba(0, 0, 0, 0.8), 3px -3px 2px rgba(0, 0, 0, 0.8), -3px 3px 2px rgba(0, 0, 0, 0.8);
}

.detailsComic {
    color: snow;
    font-weight: bold;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8), -3px -3px 2px rgba(0, 0, 0, 0.8), 3px -3px 2px rgba(0, 0, 0, 0.8), -3px 3px 2px rgba(0, 0, 0, 0.8);
}

.searchTitle {
    font-size: 30px;
    color: black;
    font-weight: bold;
    text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.8), /* White shadow */
    -3px -3px 2px rgba(255, 255, 255, 0.8), 3px -3px 2px rgba(255, 255, 255, 0.8), -3px 3px 2px rgba(255, 255, 255, 0.8);
}

.footerDescription {
    font-size: 11px;
    color: snow;
    font-weight: bold;
    margin: 0;
    line-height: 1;
}

footer{
    background-color: darkred;
    padding: 5px 0;
    text-align: center;
    position: fixed;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Make sure the card body takes the remaining space */
.card-body {
    flex: 1;
}

/* Ensure the cards have equal height in the row */
.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    display: flex;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.card-img-wrapper {
    width: 100%;
    height: 200px; 
    overflow: hidden; 
}